fastapi==0.104.1
gradio==4.7.1
pandas==1.5.2
pydantic==2.5.2
rich==13.7.0
scikit_learn==1.1.2
torch==2.0.1
tensorboard==2.13.0
transformers==4.28.0
protobuf==3.20.0
sentencepiece==0.1.97
uvicorn==0.20.0
gpu-watchmen==0.3.8
git+https://github.com/Spico197/REx
